@media only screen and (max-width: 540px) {
    body {
        padding-top: 20px;
    }

    .form-wrap {
        max-width: 450px;
        min-height: 600px;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
    }

    .container {
        width: 100%;
        max-width: 390px;
    }

    .wrap-input {
        margin-bottom: 20px;
    }

    .login {
        margin-bottom: 10px;
        padding-top: 40px;
    }
}